@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerMain {

    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif !important;
}

.containerItem {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 120vh;
    margin-top: 15px;
}

.detailsOfItem {
    width: 70%;
    position: relative;
}

.headerItem {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
}

.headerItem h2 {
    font-size: 2.4rem;
    margin: 30px 0 15px 0px;
}

#mainItem_description p {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
}

.headerStyle {
    width: 110px;
    padding: 2px 4px;
    font-weight: bold;

}

.mainItem p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0;
    padding: 5px 0;
}

.mainItem p span {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #bbb;
}

#endAuction,
#blank {
    align-self: flex-start;
    margin-top: 15px;
}

#blank {
    width: 125px;
}

#price {
    font-size: 1.5rem;
    margin: 0 5%;
}

#price span {
    font-size: 5rem;
}

#auctionAuthor {
    align-self: flex-end;
    margin-bottom: 34px;
    padding: 10px 15px 10px 15px;
    background: #000;
    color: white;
    border-radius: 5px;
}

#author {
    color: #DB3B0D;
    font-weight: bold;
    font-size: 1.3rem;
}

#bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #bbb;
}

#addComment {
    padding: 25px 0;
}

.logo {
    position: relative;
    background: #DB3B0D;
    width: 100%;
    height: 110px;
    color: white;
}

.logo>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #DB3B0D;
    width: 99%;
    height: 100px;
    border: 2px solid white;
    border-radius: .3rem;
}

.logoText {
    font-size: 70px;
    padding-left: 25px;
    font-weight: 600;
    line-height: 100px;
}

.logo h1 i {
    float: right;
    margin-right: 35px;
    line-height: 100px;
}

nav {
    background: black;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 44px;
}

.nav-item {
    background: #000;
    list-style: none;
    height: 100%;
    transition: .4s;
}

.nav-item:hover {
    background: #DB3B0D;
}

.nav-item:hover a {
    color: white;
}

.nav-link,
.user {
    color: white;
    text-decoration: none;
    padding: 9px 10px 5px;
}


.user {
    background: #000 !important;
    font-weight: 200;
}

.createItem,
.register,
.login {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    margin: 10px auto 10px;
}

.register,
.login {
    width: 350px;
}

.form-flex {
    display: flex !important;
    width: 100%;
    height: 50px;
    justify-content: space-between !important;
}

#form {
    margin-top: 7px;
}

.form-control {
    width: 350px !important;
    border-radius: 0px;
}

#select-control {
    width: 250px !important;
}

.form-control:focus {
    outline-style: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-outline-info {
    color: #DB3B0D;
    border: 1px solid #DB3B0D;
}

.btn-outline-info:hover {
    background: #DB3B0D;
    outline-style: none;
    border: 1px solid #DB3B0D;
}

#id_image_url,
#id_title,
#id_description,
#id_price,
#id_category {
    width: 50vw;
    height: 30px;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

#id_description {
    resize: none;
    height: 90px;
}

#id_price,
#id_category {
    width: 10vw;
    margin-right: auto;

}

.createItem label {
    font-weight: 200;
    margin-right: auto;
}

.save,
.btn-primary {
    width: 100px;
    height: 40px;
    margin-bottom: 15px;
    padding: 2px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    margin-left: auto;
    background: #DB3B0D;
    color: white;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.btn-primary {
    width: 50px;
    border-radius: 0;
    margin: 0;
    line-height: 40px;
}

.btn-primary:hover {
    background: #000;
}

#comment {
    width: 71%;
}

.itemListing {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    padding: 10px 5px;
}

.listingsTitle,
h2 {
    font-size: 33px;
    line-height: 50px;
}

hr {
    border: 0;
    margin-bottom: 10px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p {
    font-size: 1.2rem;
    text-align: center;
}

p a {
    font-weight: bold;
    color: #DB3B0D;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.imgItem {
    position: relative;
    width: 250px;
    height: 250px;
}

.imgItem img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
    max-height: 200px;
}

#imgBig {
    width: 350px;
    height: 350px;
}

#imgBig img {
    max-width: 300px;
    max-height: 300px;
}

.detailsItem {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.detailsItem a {
    text-decoration: none;
    color: black;
}

.detailsItem a:hover {
    text-decoration: underline;
    color: #DB3B0D;
}

.detailsItem h2 {
    margin: 25px 0 5px 0;
}

.detailsItem p {
    margin: 10px 0;
}

.detailsItem p strong,
.mainItem p strong {
    margin-right: 10px;
    padding: 3px 5px;
    background: #000;
    color: white;
    border-radius: 5px;
}

.detailsItem p span {
    font-size: 36px;
    font-weight: bold;
}

.detailsItem span {
    font-weight: 200;
}

.watchlist {
    align-self: flex-start;
    min-width: 200px;
    min-height: 50px;
    margin-left: 10px;
    padding: 10px 10px;
    text-decoration: none;
    background: #DB3B0D;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 1.2rem;
}

.watchlist:hover {
    color: white;
}

form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form input {
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    outline-style: none;
}

#categories {
    width: 150px;
}

.labelItem {
    width: 200px;
    height: 40px;
    background: #000;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
}

#comments {
    margin: 15px 0;
}

#comments .headerStyle {
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bbb;
}

#commentHeader {
    padding: 3px 0;
    font-size: small;
    font-style: italic;
    color: #DB3B0D;
    border-bottom: 1px dotted #bbb;
}

#comments p {
    text-align: left;
    margin-bottom: 5px;
    padding-left: 15px;
    background: #ddd;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: .9rem;
}

.success {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background: #FFC107;
    text-align: center;
}

footer {
    width: 80vw;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    background: #000;
    color: white;
    text-align: center;

}