{% extends "auctions/layout.html" %}

{% block body %}
<div class="form-group form-flex">
    <div>
        <h2 class="listingsTitle">Active Listings</h2>
    </div>
    <div id="form">
        <div class="input-group mb-2">
            <div class="form-style">
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    <select name="choice" class="form-control">
                        {% for category in categories %}
                        <option value="{{category.id}}" {% if category.id in choice %} selected {% endif %}>
                            {{category}}
                        </option>
                        {% endfor %}
                    </select>
            </div>

            <div class="input-group-prepend">
                <button type="submit" value="choice" class="btn btn-outline-info">Select</button>
            </div>

            </form>
        </div>
    </div>


</div>

<hr>
<div class="container-fluid">
    {% for auction in auctions %}
    <div class="itemListing">
        <div class="imgItem">
            <img src="{{auction.image_url}}" alt="">
        </div>
        <div class="detailsItem">
            <!-- <a href="/item/{{auction.id}}">
                <h2>{{auction.title}}</h2>
            </a> -->
            <a href="{% url 'item' auction_id=auction.id %}">
                <h2>{{auction.title}}</h2>
            </a>

            <p><strong>price: </strong> <span>{{auction.price}}</span> euro</p>


            <span>created: {{auction.created}}</span>
            <br>
            <span>posted by: {{auction.author}}</span>
        </div>
    </div>
    {% empty %}
    <p>No auctions in this category</p>
    {% endfor %}

</div>


{% endblock %}