{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
{% for message in messages %}
<h3 class="success">{{message}}</h3>
{% endfor %}
{% endif %}

{% if auction.active == False %}
{% for bid in bids%}
{% if forloop.last%}
{% if bid.author == request.user %}
<h4 class="success">You WON AUCTION!!!</h4>
{% else %}
<h4 class="success">{{bid.author}} won, with a bid of {{price}} euro</h4>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

<div class="containerItem">
    <div class="imageItem"><img src="{{auction.image_url}}" alt=""></div>
    <div class="detailsOfItem">
        <div class="headerItem">
            <h2>{{auction.title}}</h2>

            {% if watchlist %}
            <a class="watchlist" href="{% url 'watchlist_remove' auction_id %}">Remove </a>
            {% else %}
            {% if auction.active %}
            <a class="watchlist" href="{% url 'watchlist_add' auction_id %}">Add to watchlist <i
                    class="fas fa-plus"></i></a>
            {% endif %}
            {% endif %}
        </div>
        <div class="mainItem">
            <div id="mainItem_description">
                <h6 class="headerStyle">Description:</h6>
                <p>{{auction.description}}</p>
            </div>
            <div class="priceContainer">
                <p id="auctionAuthor">posted by: <span id="author">{{auction.author}}</span></p>
                <p id="price"> <span>{{price}}</span> euro</p>
                {% if auction.author == request.user and auction.active %}
                <a href="{% url 'auctionend' auction_id %}" id="endAuction"><button class="btn btn-warning"
                        type="button">End
                        Auction</button></a>
                {% else %}
                <div id="blank"></div>
                {% endif %}

            </div>

            {% if auction.active and user.is_authenticated %}
            <div id="bid">
                <form action="{% url 'bid' auction.id %}" method="post">
                    {% csrf_token %}
                    <label class="labelItem" for="bid">Place a bid</label>
                    <input type="number" name="bid" placeholder='Place a bid...' min='{{min_bid}}' value='{{min_bid}}'>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-plus"></i></a></button>
                </form>
                {% endif %}
                {% for bid in bids %}
                {% if forloop.last %}
                <p>The highest bid made by - <span id="author">{{bid}}</span></p>
                {% endif %}
                {% empty %}
                <p>No bids yet</p>
                {% endfor %}

            </div>

            <div id="addComment">
                <form action="{% url 'comment' auction.id %}" method="post">
                    {% csrf_token %}
                    <label class="labelItem" for="comment">Add a comment</label>
                    <input type="text" name='comment' id="comment">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-plus"></i></a></button>
                </form>
            </div>

            <div id="comments">
                <h6 class="headerStyle">Comments:</h6>
                {% for comment in comments %}
                <div>
                    <h6 id="commentHeader">{{comment.date}} - {{comment.author}}</h6>
                    <p>{{comment.comment}}</p>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
{% endblock %}