{% extends "auctions/layout.html" %}

{% block body %}
<div class="containerItem">
    <div class="imageItem"><img src="{{auction.image_url}}" alt=""></div>
    <div class="detailsOfItem">
        <h2>{{auction.title}}</h2>
        {% if watchlist %}
        <a class="watchlist" href="{% url 'watchlist_remove' auction_id %}">Remove </a>
        {% else %}
        <a class="watchlist" href="{% url 'watchlist_add' auction_id %}">Add to watchlist <i
                class="fas fa-plus"></i></a>
        {% endif %}
        <p><strong>price: </strong> <span>{{price}}</span> euro</p>
        <p>posted by: <span id="author">{{auction.author}}</span></p>
        {% if auction.active and user.is_authenticated %}
        <form action="{% url 'bid' auction.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="bid" placeholder='Place a bid...' min='{{min_bid}}' value='{{min_bid}}'>
            <button class="btn btn-primary" type="submit">Place Bid</button>
        </form>
        {% endif %}
        {% for bid in bids %}
        {% if forloop.last %}
        <p>{{bid.place_bid}}- {{bid}}</p>
        {% endif %}
        {% empty %}
        <p>No bids yet</p>
        {% endfor %}
        {% if auction.author == request.user %}
        <a href="{% url 'auctionend' auction_id %}"><button class="btn btn-warning" type="button">End
                Auction</button></a>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        {% endif %}

        {% if auction.active == False %}
        {% if last.author == request.user %}
        <h4>You WON AUCTION!!!</h4>
        {% else %}
        <h4>{{last.author}} won, with a bid of {{price}}</h4>
        {% endif %}
        {% endif %}

        <form action="{% url 'comment' auction.id %}" method="post">
            {% csrf_token %}
            <input type="text" name='comment'>
            <button class="btn btn-primary" type="submit">Add Comment</button>
        </form>
        {% for comment in comments %}
        <div>
            <br>
            <h6>{{comment.date}} - {{comment.author}}</h6>
            <p>{{comment.comment}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}